Repository JoaquinDeLuca/mytinerary-back-deluca-ochoa-ojeda, pull requests merged in 2022-09, with the labels that each got.

#23 issue-B5-QueryStrings
  controllers/cityController.js
Labels: model

#24 issue-b11
  controllers/cityController.js
Labels: model

#25 issue-b12
  routes/cities.js
Labels: model

#27 se arregla el city controller
  controllers/cityController.js
Labels: model

#29 Information
  controllers/cityController.js
  models/City.js
Labels: model

#36 Issue-b13
  models/User.js
Labels: model

#38 Issue-b14
  models/Itinerary.js
Labels: model

#39 Issue b15
  models/Activity.js
Labels: model

#40 Issue b16
  models/Comment.js
Labels: model

#45 Issue b17
  controllers/userController.js
  routes/index.js
  routes/users.js
Labels: model

#46 Issue b18
  controllers/itineraryController.js
  routes/index.js
  routes/itineraries.js
Labels: model

#47 Issue b19
  controllers/itineraryController.js
  routes/itineraries.js
Labels: model

#48 Issue b20
  controllers/itineraryController.js
  routes/itineraries.js
Labels: model

#51 Issue b23
  controllers/itineraryController.js
  models/Itinerary.js
  populate.js
  populateItineraries.js
  populateUser.js
  routes/itineraries.js
Labels: model

#52 Issue-b24
  controllers/itineraryController.js
  routes/itineraries.js
Labels: controllers

#54 Issue-b25-fix
  controllers/activityController.js
  models/Activity.js
  routes/activities.js
  routes/index.js
Labels: controllers

#56 Test
  controllers/cityController.js
  package-lock.json
  package.json
  test/testCities.js
  test/testItineraries.js
Labels: test

#58 Issue user
  .env.example
  controllers/activityController.js
  controllers/cityController.js
  controllers/commentsController.js
  controllers/itineraryController.js
  controllers/sendMail.js
  controllers/userController.js
  models/Activity.js
  models/City.js
  models/Comment.js
  models/Itinerary.js
  models/User.js
  package-lock.json
  package.json
  populate.js
  populateItineraries.js
  populateUser.js
  routes/activities.js
  routes/auth.js
  routes/comments.js
  routes/index.js
  routes/itineraries.js
  routes/users.js
  test/testCities.js
  test/testItineraries.js
Labels: model, controllers

#59 Verify-mail
  controllers/sendMail.js
  controllers/userController.js
  routes/auth.js
Labels: controllers

#62 Issue b 31
  controllers/userController.js
  routes/auth.js
Labels: controllers

#63 Issue testing
  controllers/userController.js
  routes/auth.js
  test/testCities.js
  test/testItineraries.js
  test/testUsers.js
Labels: test

#76 Itinerary-controler
  controllers/itineraryController.js
  controllers/userController.js
  routes/auth.js
  routes/itineraries.js
Labels: controllers

#77 Issue b22 35
  controllers/commentsController.js
  populateActivity.js
  routes/comments.js
Labels: controllers, populate

#78 fix
  models/User.js
Labels: controllers

#85 Jwt issue 33
  config/passport.js
  controllers/itineraryController.js
  controllers/userController.js
  models/Itinerary.js
  package-lock.json
  package.json
  routes/auth.js
  routes/itineraries.js
Labels: controllers

#87 Issue b35
  controllers/commentsController.js
  routes/comments.js
Labels: controllers

#89 se hicieron los 4 test pedidos
  test/testComment.js
Labels: test

#90 en la respuesta del controlador se devuelve el itienrario
  controllers/itineraryController.js
Labels: controllers
